* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif,'Roboto Mono', monospace;
}

.container { 
    text-align: center; 
    width: 500px;
    margin: 20px auto ;
}

#imagemprincipal {
    width: 80%;
    height: 180px;     
    border-radius: 80%;  
    border:#4263eb solid 0.75px;
}

h1 {
    margin-top: 10px;
    border-radius: 5px;
    background: goldenrod;    
    font-family: 'Roboto Mono', monospace;
    width: 460px; 
    overflow: auto;
}
h1:hover{
    font-size: 30px;
    color:#00ff00;
}

ul {
    list-style: none;
}
ul li a {
    display: flex; /* permiti editar as dimensões da caixa e do conteúdo */  
    margin-top: 10px;   
    border-radius: 5px;
    justify-content: center;
    align-items: center; /* centraliza o conteúdo*/   
    background: #4263eb;       
    height: 30px;
    color:white;   
    text-transform: uppercase;
    text-decoration: none;
    transition: filter 600ms;   
}
ul li a:hover {
    filter:contrast(3.0);    
}
ul li a img {
    margin-right: 5px;
}


footer {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.5;   
    transition: opacity 400ms;  
}
footer:hover{
    opacity: 1;
 }
footer a{
    text-decoration: none;
    margin-left: 3px;    
}
footer a:hover{
    font-size: 25px;
    font-weight: 900;
    color: #42cbfa
}
